
# Python cache
__pycache__/
*.pyc
*.pyo

# Terraform binaries
terraform.exe
terraform.zip
.terraform/

# Env
.env
*.env
credentials/credentials.json
credentials/credentials.json.json
credentials/token.json
credentials/service-account-key.json
